	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/10/2020 16:47
  	*/
	
	@font-face {
	    font-family: "Flaticon";
	    src: url("../fonts/Flaticon.eot");
	    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("./Flaticon.svg#Flaticon") format("svg");
	    }
	}
	
	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-size: 30px;
	    font-style: normal;
	    /*margin-left: 20px;*/
	}
	
	.flaticon-user:before {
	    content: "\f100";
	}
	
	.flaticon-user-1:before {
	    content: "\f101";
	}
	
	.flaticon-heart:before {
	    content: "\f102";
	}
	
	.flaticon-heart-1:before {
	    content: "\f103";
	}
	
	.flaticon-shopping-cart:before {
	    content: "\f104";
	}
	
	.flaticon-shopping-cart-1:before {
	    content: "\f105";
	}
	
	.flaticon-shopping-cart-2:before {
	    content: "\f106";
	}