@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
.header-column-left {
    display: -webkit-box;
    display: flex;
    align-self: flex-start;
}

{
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    background: #fff;
}

.header-search-wrap {
    position: relative;
    min-width: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0 40px;
}

.header-column-right {
    height: 60px;
    padding: 0 15px;
}

.product2-buttons {
    position: absolute;
    z-index: 5;
    top: 91%;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    51 -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    opacity: 0;
}

.product2-buttons .product-button {
    width: 48px;
    height: 48px;
    margin: 0 5px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
}

.product2-buttons .product-button i {
    font-size: 16px;
    line-height: 47px;
}

.product2-buttons .product-button:hover {
    background-color: #f26224;
    color: #fff;
}

.product-thumb:hover .product2-buttons {
    visibility: visible;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
}

.hot-deal-tab-slider12 .wrap-item.owl-theme .owl-controls {
    margin: 0;
    position: absolute;
    right: 6px;
    top: -39px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 767px) {
    .product2-buttons {
        position: absolute;
        /* visibility: visible !important; */
        /* margin-top: 15px; */
        /* -webkit-transform: translateY(0) !important; */
        -ms-transform: translateY(0) !important;
        transform: translateY(0) !important;
        /* opacity: 1 !important; */
        top: 74%;
    }
    .hot-deal-tab-slider12 .wrap-item.owl-theme .owl-controls {
        right: 42%;
        bottom: 0px;
        top: inherit;
    }
}

.footer {
    letter-spacing: .005em;
    position: relative;
    z-index: 1;
    background: #efefef;
    overflow: hidden;
    font-size: 1.4rem;
    line-height: 24px;
    border-top: none;
}

.footer-middle {
    padding: 3.8rem 0 1.2rem;
}

.footer .row .col-lg-4:first-child:before {
    content: "";
    position: absolute;
    left: -9999em;
    top: -9999em;
    bottom: -9999em;
    right: 15px;
    background: #efefef;
    z-index: -1;
    pointer-events: none;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo img {
    height: 80px;
}

.footer .social-icon {
    height: 2.8rem;
    width: 2.8rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.footer .social-icon:not(:hover):not(:active):not(:focus) {
    background-color: transparent;
    border-color: #313438;
    color: #0e0e0e;
}

.footer .social-icon+.social-icon {
    margin-left: .5rem;
}

.footer .contact-info li {
    position: relative;
    margin-bottom: 1.3rem;
    line-height: 1.4;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.footer .contact-info li:last-child {
    margin-bottom: 1.8rem
}

.footer .contact-info-label {
    display: block;
    color: #3e2821;
    font-weight: 700;
    text-transform: uppercase;
}

.footer .tagcloud a {
    padding: .6em;
    border: 1px solid #313438;
    color: inherit;
    font-size: 11px;
    background: transparent
}

.footer .tagcloud a:hover {
    border-color: #fff;
    background: transparent
}

.footer .widget-newsletter p {
    margin-bottom: 1.3rem;
    line-height: 1.846;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.footer .widget-newsletter .form-control {
    height: 3.4rem;
    padding: .8rem 1.5rem;
    border: 0;
    border-radius: 5rem;
    background: #ffffff;
    color: #777;
    font-size: inherit;
    font-size: 15px;
}

.footer .widget-newsletter .form-control::placeholder {
    color: #777
}

.footer .widget-newsletter .btn {
    padding: 0.5rem 2.475rem;
    border-radius: 5rem;
    font-size: inherit;
    margin-top: 10px;
    background-color: #f26224 !important;
    background-image: none;
    font-size: 16px;
}

.footer-copyright {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: .005em;
    font-weight: 300;
}

footer .container {
    position: relative
}

footer p {
    color: inherit
}

footer a {
    color: inherit;
    font-size: 14px;
}

footer .social-icon {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    line-height: 4rem
}

footer .social-icon:not(:hover):not(:active):not(:focus) {
    background: transparent
}

footer .widget {
    margin-bottom: 3rem
}

footer .widget-title {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 1.7rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    letter-spacing: 0.5px;
}

footer .widget-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 60px;
    height: 2px;
    background: #f26224;
}

footer ul.links li {
    margin-bottom: 5px;
}

footer ul.links li a {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.5px;
}

footer ul.links li a:hover {
    color: #f26224
}

footer .tagcloud a {
    padding: .6em;
    margin: 0 .8rem .8rem 0;
    border: 1px solid #313438;
    color: inherit;
    font-size: 11px;
    background: transparent
}

footer .tagcloud a:hover {
    border-color: #fff;
    background: transparent
}

footer .contact-info {
    margin: 0;
    padding: 0
}

footer .contact-info li {
    position: relative;
    margin-bottom: 1rem;
    line-height: 1.4
}

footer .contact-info-label {
    display: block;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1px
}

.footer-bottom {
    padding: .5rem 0;
    border-top: 1px solid #f26224;
    background: #f26224;
}

.desk-hide {
    display: none;
}

.mobile-hide {
    display: block;
}

.container-fluid {
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

.btn-primary {
    border-color: #f26224;
    background-color: #f26224 !important;
    color: #fff;
    box-shadow: none;
    font-size: 16px;
    font-weight: 700;
}

.header-tools {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.header-tools>div {
    margin-left: 16px;
}

.header-tools .lang-ar {
    margin-right: 20px;
}

.header-tools .lang-ar a {
    margin-top: 10px;
    font-weight: 600;
    font-family: 'Tajawal', sans-serif;
}

.header-tools>div a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    cursor: pointer;
}

.header-tools>div a span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2rem;
    position: absolute;
    z-index: 1;
    top: -11px;
    right: 0;
    min-width: 20px;
    height: 20px;
    padding: 0px 3px;
    text-align: center;
    color: #fff;
    border-radius: 14px;
    background-color: #f26224;
}

.header-tools>div a i {
    font-size: 26px;
    line-height: 32px;
    display: block;
}

.header-tools>div.header-wishlist>a i,
.header-tools>div.header-cart>a i {
    margin-right: 10px;
}

.header-tools>div.mobile-menu-toggle>a {
    width: 24px;
    height: 32px;
}

.header-tools>div:first-child {
    margin-left: 0;
}


/*=====================
19. Add to cart popup
==========================*/

.add_to_cart {
    position: fixed;
    background-color: #ffffff;
    z-index: 10000001;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.add_to_cart ::-webkit-scrollbar {
    width: 3px;
    height: 7px;
}

.add_to_cart ::-webkit-scrollbar-track {
    background: #dddddd;
}

.add_to_cart ::-webkit-scrollbar-thumb {
    background: #888888;
}

.add_to_cart ::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.add_to_cart .theme-form {
    padding: 0 20px;
}

.add_to_cart .forget-class {
    margin-top: 10px;
    text-transform: capitalize;
    text-decoration: underline;
}

.add_to_cart .cart-inner {
    background-color: #ffffff;
    z-index: 10000000001 !important;
    position: relative;
    top: 0;
}

.add_to_cart .cart-inner .cart_media {
    padding: 0 20px;
}

.add_to_cart .cart-inner .cart_media li {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.add_to_cart .cart-inner .cart_media li .media {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    display: flex;
}

.add_to_cart .cart-inner .cart_media li .media img {
    height: 90px;
}

.add_to_cart .cart-inner .cart_media li .media .media-body {
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: 5px;
    width: 39%;
}

.add_to_cart .cart-inner .cart_media li .media .media-body h4 {
    color: #000000;
    font-size: 0.8rem;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.add_to_cart .cart-inner .cart_media li .media .media-body h4 span {
    color: #000000;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.add_to_cart .cart-inner .cart_media li .total {
    border-top: 1px solid #f1f5f4;
    border-bottom: 1px solid #f1f5f4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add_to_cart .cart-inner .cart_media li .total h5 {
    text-transform: capitalize;
    margin-bottom: 0;
    color: #000;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 1rem;
}

.add_to_cart .cart-inner .cart_media li .total h5 span {
    float: right;
}

.add_to_cart .cart-inner .cart_media li .buttons {
    margin-top: 15px;
}

.add_to_cart .cart-inner .cart_media li .buttons a {
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 400;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 50px;
    padding: 10px 10px;
    letter-spacing: 0.5px;
}

.add_to_cart .cart-inner .cart_media li .buttons .checkout {
    float: right;
    background-color: #000;
    display: inherit;
}

.add_to_cart .cart-inner .cart_media li .buttons .view-cart {
    background-color: #f26224;
}

.add_to_cart .cart-inner .cart_media .close-circle {
    position: absolute;
    top: 0;
    right: 0;
}

.add_to_cart .cart-inner .cart_media .close-circle i {
    color: #888888;
    font-size: 13px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.add_to_cart .cart-inner .cart_media .close-circle i:hover {
    color: #000000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.add_to_cart .cart-inner .cart_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.add_to_cart .cart-inner .cart_top h3 {
    font-size: 18px;
    color: #222222;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 0.5px;
}

.add_to_cart .cart-inner .cart_top .close-cart {
    margin-left: auto;
}

.add_to_cart .cart-inner .cart_top .close-cart i {
    color: black;
    font-size: 18px;
}

.add_to_cart .overlay {
    visibility: hidden;
    opacity: 0;
    background-color: #212331;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.add_to_cart.open-side {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.add_to_cart.open-side .overlay {
    opacity: 0.8;
    visibility: visible;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.add_to_cart.left {
    left: -300px;
    top: 0;
    height: 100vh;
    width: 300px;
}

.add_to_cart.left .cart-inner {
    height: 100vh;
    overflow: auto;
}

.add_to_cart.left.open-side {
    left: 0;
}

.add_to_cart.right {
    right: -400px;
    height: 100vh;
    width: 400px;
    top: 0;
}

.add_to_cart.right .cart-inner {
    height: 100vh;
    overflow: auto;
}

.add_to_cart.right.open-side {
    right: 0;
}

.add_to_cart.top,
.add_to_cart.bottom {
    height: 218px;
    width: 100%;
}

.add_to_cart.top .cart_media,
.add_to_cart.bottom .cart_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.add_to_cart.top .cart_media .cart_product,
.add_to_cart.bottom .cart_media .cart_product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    overflow-y: auto;
}

.add_to_cart.top .cart_media .cart_product li,
.add_to_cart.bottom .cart_media .cart_product li {
    min-width: 245px;
    max-width: 225px;
    margin-right: 18px;
    padding-bottom: 0;
}

.add_to_cart.top .cart_media .cart_total,
.add_to_cart.bottom .cart_media .cart_total {
    width: 25%;
}

.add_to_cart.top .cart-inner,
.add_to_cart.bottom .cart-inner {
    height: 218px;
}

.add_to_cart.top .cart-inner .cart_top,
.add_to_cart.bottom .cart-inner .cart_top {
    margin-bottom: 0;
    background-color: #fbfbfb;
    padding: 15px 44px;
    border-bottom: none;
}

.add_to_cart.top .cart-inner .cart_media,
.add_to_cart.bottom .cart-inner .cart_media {
    padding: 0;
}

.add_to_cart.top .cart-inner .cart_media .cart_product,
.add_to_cart.top .cart-inner .cart_media .cart_total,
.add_to_cart.bottom .cart-inner .cart_media .cart_product,
.add_to_cart.bottom .cart-inner .cart_media .cart_total {
    padding: 30px 44px;
}

.add_to_cart.top {
    top: -300px;
}

.add_to_cart.top.open-side {
    top: 0;
}

.add_to_cart.bottom {
    bottom: -300px;
}

.add_to_cart.bottom.open-side {
    bottom: 0;
}

.add_to_cart .cart-inner .cart_media li .media img {
    height: 90px;
}

.attr-product .info-qty {
    padding: 0 27px;
}

.attr-product .info-qty .qty-down {
    width: 28px;
}

.attr-product .info-qty .qty-up {
    width: 28px;
}

.ps-form--quick-search {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    /* padding: 25px 0px; */
    width: 96%;
    justify-content: center;
    display: flex;
    margin: 25px 0px auto;
    background: #c;
    background: #efeded;
}

.ps-form--quick-search .form-control {
    background-color: #efeded;
    color: #000;
    height: 53px;
    border: none;
    border-radius: 0;
    outline-style: none;
}

.ps-form--quick-search input:focus {
    outline: none;
}

.ps-form--quick-search .form-group--icon {
    background-color: #efeded;
    border-radius: 4px 0 0 4px;
}

.ps-form--quick-search .form-group--icon i {
    z-index: 1;
}

.ps-form--quick-search select.form-control {
    border-right: 0px solid #ccc;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    text-indent: 10px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    min-width: 200px;
}

.ps-form--quick-search select.form-control::-webkit-input-placeholder {
    color: #666666;
}

.ps-form--quick-search select.form-control::-moz-placeholder {
    color: #666666;
}

.ps-form--quick-search select.form-control:-moz-placeholder {
    color: #666666;
}

.ps-form--quick-search select.form-control:-ms-input-placeholder {
    color: #666666;
}

.ps-form--quick-search button {
    background-color: #000;
    color: #ffffff;
    border: none;
    font-weight: 700;
    padding: 0 24px;
    border-radius: 0 4px 4px 0;
    margin-left: 10px;
}

.ps-form--widget-search {
    position: relative;
    margin-bottom: 20px;
}

.ps-form--widget-search input {
    height: 34px;
    background-color: #ffffff;
    border-radius: 0;
}

.ps-form--widget-search button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.form-group--icon i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 16px;
}

.ps-panel--search-result {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding: 10px 20px;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    transform: scale3d(1, 1, 0);
}

.ps-panel--search-result .ps-panel__content {
    max-height: 400px;
    overflow-y: auto;
}

.ps-panel--search-result .ps-panel__footer {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
}

.ps-panel--search-result.active {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    visibility: visible;
}

.ps-panel--search-result .ps-product {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}

.ps-panel--search-result .ps-product:hover {
    border-bottom: 1px solid #eaeaea;
}

.ps-panel--search-result .ps-product:last-child {
    border: none;
}

.ps-product--search-result .ps-product__thumbnail {
    max-width: 60px;
    min-width: 60px;
}

.ps-product .ps-product__thumbnail {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.ps-product__content {
    display: inline-block;
}

.modal-dialog {
    width: 1100px;
    max-width: 1100px;
    margin: 30px auto;
}

.menumain_bordr .navigation-text {
    margin-left: auto;
    margin-right: 25px;
    color: #f26224;
}

.menumain_bordr .navbar {
    adding: 0;
    z-index: 2;
    position: relative;
    /* width: 100%; */
    /* display: flex; */
    /* flex-flow: row nowrap; */
    width: calc(60% + 100px);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    /* border: 1px solid #e1e1e1; */
    border-radius: 2px;
}

.fade:not(.show) {
    opacity: 1;
}

.category-nav {
    position: relative;
    width: 262px;
    min-width: 262px;
    display: -webkit-box;
    display: flex;
    padding: 4px 0 4px 4px;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
}

.category-nav .category-nav-inner {
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    padding: 14px 35px 13px 30px;
    color: #fff;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #101010;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
}

.category-nav .category-nav-inner>i {
    font-size: 16px;
}

.category-nav .category-dropdown-wrap.show {
    display: block;
}

.category-nav .category-dropdown-wrap {
    position: absolute;
    left: -1px;
    top: calc(100% + 31px);
    display: none;
    width: 263px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-bottom: none;
    border-radius: 2px;
    z-index: 4;
}

.category-nav .category-dropdown-wrap:after,
.category-nav .category-dropdown-wrap:before {
    position: absolute;
    content: "";
    left: 0;
    height: 1px;
    width: 100%;
    background: #e1e1e1;
}

.category-nav.show .category-dropdown-wrap {
    display: block;
}

.vertical-megamenu>li>.menu-item {
    position: relative;
    line-height: 46px;
    display: block;
    padding: 0 50px 0 24px;
    color: #191919;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: none;
    transition: none;
}

.mega-menu>.fluid-menu {
    position: relative;
}

.vertical-megamenu {
    position: static;
    padding: 15px 0;
}

.menumain_bordr .navbar .navbar-nav {
    margin: 0 30px;
    padding: 0px 0px;
    width: 100%;
}

.home-section-wrap {
    margin-top: 30px;
}

.home-section-inner {
    display: -webkit-box;
    display: flex;
    width: calc(100% - 272px);
    margin-left: 293px;
}

.home-section-inner .home-slider-wrap {
    width: 66.85%;
    padding: 0 15px;
}

.home-section-inner .home-banner-wrap {
    width: 33.15%;
    padding: 0 15px;
}

@media screen and (min-width: 1650px) {
    .home-section-inner .home-slider-wrap {
        width: 66.66%;
    }
    .home-section-inner .home-banner-wrap {
        width: 33.34%;
    }
}

@media screen and (max-width: 1400px) {
    .home-section-inner {
        width: calc(100% - 276px);
        margin-left: 276px;
    }
}

@media screen and (max-width: 1255px) {
    .home-section-inner .home-slider-wrap {
        width: 66.9%;
    }
    .home-section-inner .home-banner-wrap {
        width: 33.1%;
    }
}

@media screen and (max-width: 1199px) {
    .home-section-inner .home-banner-wrap {
        display: none;
    }
    .home-section-inner .home-slider-wrap {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .home-section-wrap .home-section-inner {
        width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm,
    .navbar-expand-sm .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }
}

@media screen and (max-width: 1400px) {
    .category-nav .category-dropdown-wrap {
        width: 246px;
    }
}

@media screen and (max-width: 1262px) {
    .header-search-wrap {
        padding: 0px 15px;
    }
}

@media screen and (max-width: 991px) {
    .header-nav2 {
        display: none;
    }
    .desk-hide {
        display: block;
    }
    .sub-header4 {
        display: none;
    }
    .tab-hide {
        display: none;
    }
    .header-search-wrap {
        display: none;
    }
    .sidebar-menu-icon-wrap {
        display: flex;
        margin-right: 20px;
        height: 78px;
    }
    .sidebar-menu-icon-wrap .sidebar-menu-icon {
        display: flex;
    }
    .lang-ar {
        display: none;
    }
    .ps-form--search-mobile {
        width: 100% !important;
    }
    .ps-search--mobile {
        padding: 13px 14px 0px;
    }
    .header4 {
        padding: 8px 0;
        border-bottom: 1px solid #e5e5e5;
    }
    .hot-deal-tab-title li.active::before {
        top: -3px;
    }
    .register-box {
        display: none !important;
    }
    .header-tools .lang-ar {
        display: block !important;
    }
}

.horizontal-megamenu {
    position: relative;
    flex-wrap: wrap;
}

.banner-thumb img {
    width: 100%;
}

.service-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 0px;
	margin-top: 20px;
}

.service-section>div {
    background-color: #ededea;
    border: 1px solid #fff;
}

.service-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222529;
    padding: 2rem 0;
    height: 100%;
}

.service-widget .service-icon {
    font-size: 2rem;
    margin-right: .5rem;
}

.service-widget .service-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-widget .service-title {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.service-widget p {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 22px;
    color: #666;
    letter-spacing: 0.01em;
    margin-bottom: 0;
}

.menumain_bordr .row {
    margin-left: 0px;
    margin-right: 0px;
}

.sidebar-menu-wrap {
    position: fixed;
    left: -150px;
    top: 0;
    bottom: 0;
    width: 270px;
    background: #fff;
    box-shadow: 2.5px 4.33px 40px 5px rgb(12 31 46 / 10%);
    opacity: 0;
    visibility: hidden;
    z-index: 200;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.sidebar-menu-wrap.active {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.sidebar-menu-wrap .sidebar-menu-header {
    display: -webkit-box;
    display: flex;
    padding: 15px 26px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #f26224;
}

.sidebar-menu-wrap .sidebar-menu-header>h4 {
    font-weight: 400;
    color: #fff;
}

.sidebar-menu-close {
    padding: 6px 12px;
    color: #fff;
    font-size: 16px;
}

.sidebar-menu-wrap .sidebar-menu-tab {
    border-bottom: none;
}

.sidebar-menu-wrap .sidebar-menu-tab .nav-item {
    width: 50%;
}

.sidebar-menu-wrap .sidebar-menu-tab.nav-tabs .nav-item .nav-link {
    padding: 16px 8px;
    color: #a6a6a6;
    text-align: center;
    background: #f2f4f5;
    border: none;
    border-radius: 0;
    display: block;
}

.sidebar-menu-wrap .sidebar-menu-tab.nav-tabs .nav-item.active .nav-link {
    font-weight: 400;
    color: #191919;
    background: #fff;
    cursor: default;
}

.sidebar-menu-wrap>.tab-content {
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
}

.sidebar-menu {
    margin: 15px 0;
}

.sidebar-menu>li {
    cursor: pointer;
}

.sidebar-menu li a {
    line-height: 35px;
    max-width: 170px;
    width: 100%;
    display: inline-block;
    margin-left: 24px;
    color: #191919;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 14px;
}

.sidebar-menu>li>.menu-item>.menu-item-icon {
    font-size: 16px;
    color: #6e6e6e;
    margin: 1px 10px 0 0;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.sidebar-menu li>i {
    font-size: 12px;
    position: absolute;
    top: 18px;
    right: 30px;
    color: #6e6e6e;
    float: right;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.sidebar-menu li ul {
    position: relative !important;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #fff;
    box-shadow: none;
    margin-top: -24px;
    margin-bottom: 58px;
    margin-left: -25px;
}

.sidebar-menu li ul li {
    padding-left: 32px;
}

.sidebar-menu .dropdown {
    position: relative;
}

.sidebar-menu .dropdown a:after {
    /*content: "\f0a9"; */
    font-family: 'FontAwesome';
    color: #fe9c00;
    float: right;
    position: absolute;
    right: 15px;
    top: 15px;
}

.sidebar-menu .dropdown-menu a:after {
    display: none;
}

.sidebar-menu>li>ul>li>a {
    max-width: 160px;
}

.custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ebebeb transparent;
}

.sidebar-menu-icon-wrap {
    height: 60px;
    padding-left: 0px;
    -webkit-box-align: center;
    align-items: center;
}

.sidebar-menu-icon-wrap .sidebar-menu-icon {
    height: 30px;
    width: 35px;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-menu-icon-wrap,
.sidebar-menu-icon-wrap .sidebar-menu-icon {
    -webkit-box-pack: center;
    justify-content: center;
}

.sidebar-menu-icon-wrap .sidebar-menu-icon>span {
    height: 5px;
    width: 30px;
    margin-bottom: 4px;
    background: #191919;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.sidebar-menu-icon-wrap .sidebar-menu-icon>span:nth-child(2) {
    width: 30px;
}

.sidebar-menu-icon-wrap .sidebar-menu-icon>span:last-child {
    width: 30px;
    margin-bottom: 0;
}

.overlays {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    z-index: 180;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.overlays.active {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu.show {
    display: block !important;
}

.ps-search--mobile {
    margin: 4px auto;
    padding: 5px 14px 0px;
    display: flex;
    width: 100%;
    position: relative;
    display: inline-block;
}

.ps-form--search-mobile {
    width: 80%;
    margin-bottom: 0px;
}

.form-group--nest {
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: nowrap;
    width: 100%;
    float: left;
    padding-bottom: 0px;
}

.ps-form--search-mobile input {
    height: 40px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    margin-bottom: 0px;
}

.ps-form--search-mobile input:focus {
    background-color: #efefef;
}

.ps-form--search-mobile button {
    width: 40px;
    height: 40px;
    /* background-color: #38bac6; */
    border: none;
    color: #101010;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 1.4rem;
}

.product-search-right {
    width: calc(100% - 332px);
}

.product-search-left {
    width: 284px;
    min-width: 284px;
    margin: 11px 30px 0 0;
}

.grid-view-products {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.grid-view-products>.col {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 30px;
}

.list-view-products {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.list-product-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.list-product-card-inner {
    display: -webkit-box;
    display: flex;
    width: 100%;
    padding: 30px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.list-product-card-inner .product-card-left {
    align-self: flex-start;
}

.list-product-card-inner .product-card-right {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: -5px 0 -8px 30px;
}

.product-image {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.list-product-card-inner .product-image {
    position: relative;
    height: 180px;
    width: 180px;
}

.list-product-card-inner .product-name {
    display: inline-block;
    margin-bottom: 10px;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
}

.list-product-card-inner .product-name>h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-height: 48px;
    display: block;
    display: -webkit-box;
    color: #191919;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.list-product-card-inner .product-rating {
    margin-bottom: 14px;
}

.product-rating {
    display: -webkit-inline-box;
    display: inline-flex;
}

.product-rating .back-stars {
    position: relative;
    display: -webkit-box;
    display: flex;
}

.product-rating .back-stars>i {
    margin-right: 1px;
    color: #a6a6a6;
}

.product-rating .front-stars {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    color: #ffb136;
    overflow: hidden;
}

.list-product-card-inner .product-rating .rating-count {
    font-size: 13px;
    line-height: 15px;
    margin: 0 0 0 7px;
    color: #6e6e6e;
}

.list-product-card-inner .product-price {
    font-size: 18px;
    margin-bottom: 13px;
}

.list-product-card-inner .btn-add-to-cart {
    font-size: 13px;
    margin-bottom: 9px;
    padding: 7px 30px 6px;
    border: 1px solid #000;
    line-height: 28px;
}

.list-product-card-inner .btn-add-to-cart>i {
    font-size: 15px;
    margin: 5px 8px 0 0;
    vertical-align: top;
}

.list-product-card-inner .product-card-actions .btn {
    color: #6e6e6e;
    background: transparent;
    padding: 10px 0px;
}

.list-product-card-inner .product-card-actions .btn-wishlist {
    margin-right: 25px;
}

.list-product-card-inner:hover {
    border-color: #fff;
    box-shadow: 2.5px 4.33px 50px 5px rgb(11 28 42 / 15%);
    z-index: 1;
}

.product-price .previous-price {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    margin: 1px 0 0 8px;
    color: #a6a6a6;
    text-decoration: line-through;
}

.product-price {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    display: -webkit-box;
    display: flex;
    color: #000000;
}

.sorting-bar {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.toolbox-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 16px;
}

.select-custom {
    position: relative;
    margin-bottom: 1rem;
    background: #fff;
}

.toolbox-item label {
    margin: -16px 0rem 0 0;
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
    /* font-family: "Open Sans", sans-serif; */
    padding: 11px 10px;
    align-items: center;
    /* background: #e8e8e8cc; */
}

.toolbox-item .select-custom .form-control {
    max-width: 224px;
    padding-right: 1rem;
    font-size: 0.9rem;
}

.toolbox-item .form-control {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 .8rem;
    color: #777;
}

.filter-checkbox .form-check {
    margin-bottom: 4px;
}

.filter-checkbox .form-check>label {
    line-height: 24px;
}

.form-check {
    position: relative;
    display: block;
    padding: 0;
}

.form-check input[type=checkbox] {
    position: absolute;
    left: 0;
    margin: 0;
    display: none;
}

.form-check input[type=checkbox]:checked+label,
.form-check input[type=checkbox]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    text-align: left;
}

.form-check input[type=checkbox]:checked+label:before,
.form-check input[type=checkbox]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 17px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.form-check input[type=checkbox]:checked+label:after,
.form-check input[type=checkbox]:not(:checked)+label:after {
    position: absolute;
    content: "";
    top: 5px;
    left: 4px;
    height: 6px;
    width: 10px;
    border: 2px solid #0068e1;
    border-color: #fe9c00;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate( -45deg) scale(0);
    transform: rotate( -45deg) scale(0);
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.form-check input[type=checkbox]:checked+label:after {
    opacity: 1;
    -webkit-transform: rotate( -45deg) scale(1);
    transform: rotate( -45deg) scale(1);
}

.product-image>img {
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.sidebar-toggle {
    display: none;
}

.vertical-megamenu>li.hide {
    display: none;
}

.product-details-wrap,
.shopping-cart-wrap {
    margin-top: 50px;
}

.quick-view-area ..product-details-wrap {
    margin-top: 50px;
}

.product-details-top {
    display: -webkit-box;
    display: flex;
    margin-bottom: 20px;
}

.product-details-top-inner {
    display: -webkit-box;
    display: flex;
    width: 100%;
}

.product-image-gallery {
    display: -webkit-box;
    display: flex;
    align-self: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    width: 600px;
}

.quick-view-area .product-image-gallery {
    width: 466px;
}

.quick-view-area .product-details-info {
    width: calc(115% - 615px);
    padding: 0 15px 0 30px;
}

.quick-view-area .close {
    margin-right: 10px !important;
    margin-top: 10px;
}

.product-details-info {
    width: calc(100% - 600px);
    padding: 0 15px 0 30px;
}

.product-details-info .product-rating {
    font-size: 16px;
    margin-bottom: 10px !important;
    background: none !important;
    width: auto !important;
    display: -webkit-inline-box;
    display: inline-flex;
}

.product-rating {
    display: -webkit-inline-box;
    display: inline-flex;
}

.product-rating .back-stars {
    position: relative;
    display: -webkit-box;
    display: flex;
}

.product-rating .back-stars>i {
    margin-right: 1px;
    color: #a6a6a6;
}

.product-rating .rating-count {
    font-size: 12px;
    line-height: 12px;
    margin: 4px 0 0 5px;
    color: #6e6e6e;
}

.product-details-info .availability.in-stock {
    color: #1eb48e;
    margin-bottom: 14px;
}

.product-details-info .brief-description {
    margin-bottom: 12px;
    color: #6e6e6e;
    font-size: 16px;
}

.product-details-info .details-info-middle {
    padding: 22px 0 25px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.product-details-info .product-price {
    font-size: 24px;
    padding-bottom: 18px;
}

.product-details-info .product-price .previous-price {
    font-size: 14px;
    margin-top: 3px;
}

.product-price .previous-price {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    margin: 1px 0 0 8px;
    color: #a6a6a6;
    text-decoration: line-through;
    display: -webkit-box;
    display: flex;
}

.product-details-info .details-info-middle-actions {
    display: -webkit-box;
    display: flex;
}

.product-details-info .number-picker {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.product-details-info .btn-add-to-cart {
    margin-left: 20px;
    padding: 8px 30px;
    background: #f26224;
    border: none;
    margin-right: 10px;
}

.btn-wishlist {
    padding: 8px 30px;
}

.product-details-info .btn-add-to-cart:hover {
    margin-left: 20px;
    padding: 8px 30px;
    background: #000000 !important;
    border: none;
}

.product-details-info .details-info-bottom {
    padding: 10px 0;
}

.product-details-info .additional-info {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 0 0 -6px -12px;
    padding: 5px 0;
}

.product-details-info .additional-info li {
    margin-bottom: 4px;
    padding: 0 12px;
}

.social-links li a {
    font-size: 22px;
    display: -webkit-box;
    display: flex;
    height: 35px;
    width: 35px;
    color: #6e6e6e;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.product-details-info .social-share {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.product-details-info .social-share .social-links {
    margin-left: 16px;
}

.product-details-info .additional-info li a {
    color: #f26224;
}

.social-links li {
    display: -webkit-inline-box;
    display: inline-flex;
    margin-right: 5px;
}

.product-details-bottom {
    display: -webkit-box;
    display: flex;
}

.product-details-bottom .product-details-bottom-inner {
    width: calc(100% - 0px);
    padding-left: 0;
    margin-bottom: 40px;
}

.product-details-tab>.tabs {
    -webkit-box-pack: center;
    justify-content: center;
    border-bottom: 1px solid #ebebeb;
}

.product-details-tab>.tabs .nav-item {
    margin: 0 6px -1px;
}

.product-details-tab>.tabs .nav-link {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 14px;
    color: #191919;
}

.description {
    padding-top: 46px;
}

.description p {
    line-height: 24px;
    color: #6e6e6e;
}

.description th {
    font-weight: 700;
    padding: 6px;
}

.description td {
    vertical-align: top;
    padding: 6px;
}

.specification {
    padding-top: 51px;
}

.specification .specification-inner {
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.specification .title {
    padding: 15px 30px;
    background: #f9f9f9;
}

.specification-list {
    padding: 30px;
}

.specification-list li {
    display: -webkit-box;
    display: flex;
    margin-bottom: 18px;
}

.specification-list label {
    font-weight: 700;
    line-height: 23px;
    width: 190px;
    min-width: 190px;
    margin-bottom: 0;
}

.specification-list span {
    line-height: 23px;
    color: #6e6e6e;
}

.review-form>h4 {
    margin-bottom: 28px;
}

.reviews {
    padding-top: 45px;
}

.user-review-wrap {
    margin-top: 4px;
}

.user-review-wrap .empty-message {
    display: -webkit-box;
    display: flex;
    padding: 35px 0 40px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
}

.user-review-wrap .empty-message svg {
    height: 80px;
    width: 80px;
    margin-bottom: 16px;
}

.review-form .rating-input {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    display: -webkit-box;
    display: flex;
    margin: -1px 0 -2px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.review-form .rating-input input[type=radio] {
    display: none;
}

.review-form .rating-input label {
    margin-bottom: 0;
    color: #ebebeb;
    cursor: pointer;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.review-form .rating-input input[type=radio]:checked~label {
    color: #ffb136;
}

.captcha-input {
    font-size: 14px;
    height: 45px;
    margin-left: 7px;
    padding: 10px 15px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.review-form .btn-submit {
    padding: 7px 30px;
}

.menumain_bordr .navigation-text a {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: static;
    float: none;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 0 1px 0;
    margin: 1px 1px 0 3px;
    width: fit-content;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    scroll-margin: 0;
}

.del-icon {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: static;
    float: none;
    left: 0px;
    top: 2px;
    font-size: 18px;
    width: 24px;
    height: 26px;
    margin-top: 8px;
}

.deliver-detail {
    margin-left: 3px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: static;
    float: none;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.deliver-detail .nav-line-1 {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    color: #545454;
}

.deliver-detail .nav-line-2 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.deliver-tab-mobile {
    background-color: #151414;
    height: 44px;
    width: 100%;
}

.deliver-tab-mobile a {
    float: left;
    padding: 12px 10px 12px 20px;
    height: 100%;
    width: 100%;
}

.deliver-tab-mobile a .del-icon {
    width: 20px;
    height: 17px;
    float: left;
    margin-right: 5px;
    margin-top: 0px;
    color: #fff;
}

.mobile-delv-detail {
    float: left;
    height: 20px;
    display: inline-block;
    width: 85%;
}

.mobile-delv-detail span {
    float: left;
    clear: both;
    font-size: 13px;
    line-height: 20px;
    color: #FFF;
    font-family: inherit;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shopping-cart {
    display: -webkit-box;
    display: flex;
    margin-bottom: 30px;
}

.shopping-cart-inner {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-right: 15px;
}

.shopping-cart .table-responsive {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    margin-bottom: 25px;
}

.shopping-cart-table {
    margin-bottom: 10px;
}

.shopping-cart-table thead th {
    white-space: nowrap;
}

.shopping-cart-table tbody td {
    vertical-align: middle;
}

.shopping-cart-table .product-image {
    height: 60px;
    width: 60px;
    border-radius: 2px;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.product-image>img {
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.shopping-cart-table .product-name {
    display: inline-block;
    color: #191919;
    line-height: 22px;
}

.shopping-cart-table .product-price {
    color: #191919;
}

.shopping-cart-table .btn-remove {
    line-height: 20px;
}

.shopping-cart-table .number-picker {
    position: relative;
    width: 110px;
}

.shopping-cart-table td>label {
    display: none;
}

.table thead th {
    border-bottom: 1px solid #ebebeb;
}

.btn-remove {
    font-size: 15px;
    color: #191919;
    background: transparent;
    border: none;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.coupon-wrap .form-group {
    display: -webkit-box;
    display: flex;
    margin-bottom: 0;
}

.coupon-wrap .form-group .btn-apply-coupon {
    margin-left: 10px;
    align-self: flex-start;
}

.order-summary-wrap {
    width: 380px;
    min-width: 380px;
    padding-left: 15px;
}
.checkout  .order-summary-wrap {
    width: 100%;
    min-width: 100%;
    padding-left: 15px;
}
.order-summary {
    padding: 24px 30px 30px;
    background: #f9f9f9;
    border-radius: 2px;
	margin-bottom: 20px;
}

.order-summary-top .section-title {
    padding-bottom: 18px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.section-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 50px;
    border-bottom: 2px solid #f26224;
}

.order-summary-middle {
    padding: 25px 0 8px;
}

.order-summary-list li {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 9px;
}

.order-summary-list label {
    margin-bottom: 0;
    padding-right: 20px;
}

.order-summary .price-amount {
    font-weight: 700;
}

.order-summary-middle .shipping-methods {
    margin: 21px 0 -6px;
}

.order-summary-middle .shipping-methods>h6 {
    margin-bottom: 17px;
    font-weight: 700;
}

.order-summary-middle .shipping-methods .form-group {
    margin: -1px 0 0;
}

.order-summary-middle .shipping-methods .form-radio {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.order-summary-middle .shipping-methods .form-radio label {
    padding-right: 20px;
    color: #191919;
}

.order-summary-total {
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    display: flex;
    margin-top: 21px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 14px 0;
    border-top: 1px solid #ebebeb;
}

.order-summary-bottom .btn {
    width: 100%;
}

.form-radio input[type=radio] {
    position: absolute;
    left: 0;
    margin: 0;
    display: none;
}

.form-radio input[type=radio]:checked+label,
.form-radio input[type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    text-align: left;
}

.form-radio input[type=radio]:checked+label:before,
.form-radio input[type=radio]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 17px;
    height: 17px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    background: #fff;
}

.form-radio input[type=radio]:checked+label:after,
.form-radio input[type=radio]:not(:checked)+label:after {
    position: absolute;
    content: "";
    top: 1px;
    left: 3px;
    height: 11px;
    width: 11px;
    background: #f26224;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.form-radio input[type=radio]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-radio input[type=radio]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.a-row {
    width: 100%;
}

.size_name {
    padding: 20px 0px;
}

.size_name label {
    display: inline;
    color: #555;
    font-weight: 400;
    margin-right: 3px;
}

.size_name .selection {
    font-weight: 700;
}

.a-ordered-list {
    display: block;
    margin-top: 10px;
}

.a-ordered-list li {
    border: 1px solid #E0E0E0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 4px;
    position: relative;
    margin-right: 10px;
}

.a-ordered-list li .a-button-text {
    padding: 5px 10px 5px 11px;
}

.a-ordered-list li:hover,
.a-ordered-list li.active {
    border-color: #f26224;
    ;
}

.a-button-text {
    background-color: transparent;
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.a-button-text p {
    margin-bottom: 0px;
}

.checkout-wrap {
    margin-top: 50px;
}

.checkout,
.checkout-inner {
    display: -webkit-box;
    display: flex;
}

.checkout-left {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-right: 15px;
}

.checkout-right {
    width: 395px;
    min-width: 395px;
    padding: 0 15px;
}

.checkout-form .account-details {
    margin-bottom: 14px;
}

.checkout-form .section-title {
    margin-bottom: 25px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.section-title:after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -1px;
    width: 50px;
    border-bottom: 2px solid #f26224;
}

.form-group {
    margin-bottom: 20px;
}


.form-group label {
    font-weight: 500;
    margin-bottom: 9px;
}

.form-group label>span {
    margin-left: 4px;
    color: #e23e1d;
}

.form-control {
    font-size: 14px;
    height: 45px;
    padding: 10px 15px;
    border-color: #ebebeb;
    border-radius: 2px;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.checkout-form .create-an-account-label,
.checkout-form .ship-to-different-address-label {
    margin: 4px 0 7px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 0;
}

.form-check input[type=checkbox] {
    position: absolute;
    left: 0;
    margin: 0;
    display: none;
}

.form-check input[type=checkbox]:checked+label:before,
.form-check input[type=checkbox]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 18px;
    height: 17px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    background: #fff;
}

.form-check input[type=checkbox]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: rotate( -45deg) scale(0);
    transform: rotate( -45deg) scale(0);
}

.form-check input[type=checkbox]:checked+label:after,
.form-check input[type=checkbox]:not(:checked)+label:after {
    position: absolute;
    content: "";
    top: 2px;
    left: 4px;
    height: 6px;
    width: 10px;
    border: 2px solid #f26224;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate( -45deg) scale(0);
    transform: rotate( -45deg) scale(0);
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.form-check input[type=checkbox]:checked+label:after {
    opacity: 1;
    -webkit-transform: rotate( -45deg) scale(1);
    transform: rotate( -45deg) scale(1);
}


.delivery-type {
    text-align: center;
    border-width: 2px;
    font-size: 1.4rem;
}

.delivery-type img {
    text-align: center;
    width: auto;
    display: inline;
    height: 25px;
}

.btn-outline-secondary {
    border-color: #ccc;
    background-color: transparent;
    background-image: none;
    color: #777;
}

.checkout-right .payment-method .title {
    margin-bottom: 13px;
    text-align: left;
}

.checkout-right .payment-method-form {
    padding: 15px 0;
    /* border: 1px solid #ebebeb; */
    border-radius: 2px;
    text-align: left;
}

.checkout-right .payment-method-form .helper-text {
    font-size: 13px;
    display: block;
    margin: -4px 0 0 28px;
    color: #6e6e6e;
    line-height: 18px;
}

.checkout-right .payment-method-form label {
    font-weight: 700;
    color: #191919;
    font-size: 16px;
}

.form-group label {
    font-weight: 500;


    margin-bottom: 9px;
}

.checkout-right .payment-method-form .form-radio {
    margin-bottom: 20px;
}

.order-summary-top .cart-item {
    padding: 25px 0 24px;
    border-bottom: 1px solid #ebebeb;
}

.order-summary-top .cart-item label {
    margin-bottom: 0;
    padding-right: 20px;
}

.order-summary-top .cart-item li {
    display: -webkit-box;
    display: flex;
    margin-bottom: 9px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.order-summary .price-amount {
    font-weight: 700;
}

.order-summary-top .cart-item .product-name {
    color: #191919;
    line-height: 19px;
}

.order-summary-bottom .checkout-terms-and-conditions {
    margin: -1px 0 0;
    padding-bottom: 17px;
    text-align: center;
}

.form-wrap {
    margin-top: 63px;
    padding-bottom: 20px;
}

.form-wrap-inner {
    width: 600px;
    margin: auto;
    padding: 0 15px;
}

.form-wrap-inner>p {
    margin-bottom: 19px;
    color: #6e6e6e;
}

.form-wrap-inner>h2 {

    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}

.form-wrap-inner .sign-in-with {
    font-size: 16px;
    display: block;
    margin-top: 25px;
    color: #6e6e6e;
    text-align: center;
}

.form-wrap-inner .social-login,
.form-wrap-inner .social-login li a {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.form-wrap-inner .social-login {
    margin-top: 13px;
}

.form-wrap-inner .social-login li a.facebook {
    background: #3a559f;
}

.form-wrap-inner .social-login li a {
    font-size: 16px;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    color: #fff;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
}

.form-wrap-inner .social-login li a.google {
    background: #d94936;
}

.form-wrap-inner .btn-default {
    width: 100%;
    padding: 11px 14px;
    letter-spacing: 1px;
}

.login-wrap .btn-create-account {
    margin-top: 12px;
}

.login-wrap .btn-sign-in {
    margin-top: 34px;
}

.btn-default {
    font-weight: 700;
    padding: 6px 24px;
    background: transparent;
    border: 1px solid #f26224;
    font-size: 16px;
}

.btn-default.nice-select.open,
.btn-default:active,
.btn-default:active:focus,
.btn-default:hover {
    color: #fff;
    background: #f26224;
}

.btn-sign-in:focus,
.btn-sign-in:hover {
    background: #ea5515 !important;
    border-color: #ea5515 !important;
    outline: none;
}

.form-wrap-inner .btn-primary {
    width: 100%;
    padding: 12px 14px;
    letter-spacing: 1px;
}

.login-wrap .remember-me {
    margin-top: -1px;
    float: left;
}

.login-wrap .forgot-password {
    margin-top: -1px;
    color: #6e6e6e;
    float: right;
}

.form-wrap-inner .have-an-account {
    display: block;
    line-height: 26px;
    margin-top: 23px;
    letter-spacing: 1px;
    text-align: center;
}

.register-wrap .terms-and-conditions {
    margin-top: -1px;
}

.form-check-label>a {
    color: #f26224;
}

.register-wrap .btn-create-account {
    margin-top: 34px;
}

.account-wrap {
    margin-top: 42px;
    margin-bottom: 30px;
}

.account-wrap-inner {
    display: -webkit-box;
    display: flex;
}

.account-wrap .account-left {
    min-width: 267px;
}

.account-sidebar li a {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    display: inline-block;
    color: #191919;
    padding: 8px 0 8px 28px;
}

.account-sidebar li.active a {
    font-weight: 600;
    color: #f26224;
}

.account-wrap .account-right {
    width: 100%;
    margin-left: 30px;
    overflow: hidden;
}

.panel .panel-header {
    display: -webkit-box;
    display: flex;
    padding: 20px 30px;
    background: #f2f4f5;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: 1px solid #ebebeb;
    border-radius: 2px 2px 0 0;
}

.panel .panel-body {
    border: 1px solid #ebebeb;
    border-top: none;
    border-radius: 0 0 2px 2px;
}

.user-info {
    padding: 23px 30px;
}

.user-info li {
    display: -webkit-box;
    display: flex;
    line-height: 24px;
    padding: 11px 0;
    color: #6e6e6e;
}

.user-info li>i {
    font-size: 24px;
    margin-right: 8px;
    vertical-align: top;
}

.user-info li>span {
    word-break: break-all;
}

.account-sidebar li a>i {
    font-size: 16px;
    vertical-align: top;
    margin: 10px 12px 0 0;
    color: #6e6e6e;
}

.order-details-middle .table-responsive {
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.order-details-table .product-name {
    display: inline-block;
    color: #191919;
}

.order-details-table td>label {
    display: none;
}

.order-details-table .product-image {
    height: 60px;
    width: 60px;
    border-radius: 2px;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

}

.product-price {
    color: #191919;
}

.my-orders-table .badge {
    margin-top: -6px;
}

.order-details-middle .section-title {
    margin-bottom: 25px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.badge {
    font-size: 14px;
    font-weight: 400;
    min-width: 120px;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    border-radius: 20px;
}

.badge-info {
    color: #247cc6;
    background: #eef5fb;
}

.my-downloads-table .btn-download,
.my-orders-table .btn-view,
.my-wishlist-table .btn-delete {
    display: -webkit-inline-box;
    display: inline-flex;
    margin-top: -2px;
    padding: 0;
    letter-spacing: 2px;
}

.my-downloads-table .btn-download>i,
.my-orders-table .btn-view>i,
.my-wishlist-table .btn-delete>i {
    margin: 5px 10px 0 0;
}

.my-addresses {
    padding: 40px 30px;
}

.my-addresses .address-card-wrap .address-card {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-bottom: 30px;
    padding: 15px 20px 12px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    cursor: pointer;
}

.my-addresses .address-card-wrap .address-card.active {
    border-color: #f26224;
}

.my-addresses .address-card-wrap .address-card .address-card-data {
    margin-bottom: 6px;
}

.my-addresses .address-card-wrap .address-card .address-card-data>span {
    font-weight: 600;
    display: block;
}

.my-addresses .address-card-wrap .address-card .address-card-data>span:not(:first-child) {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #6e6e6e;
}

.my-addresses .address-card-wrap .address-card .address-card-actions {
    display: -webkit-box;
    display: flex;
    margin-left: -8px;
}

.my-addresses .address-card-wrap .address-card .address-card-actions .btn {
    padding: 0 8px;
    background-color: transparent;
}

.my-addresses .address-card-wrap .btn-add-new-address {
    margin-top: 0;
}

.my-addresses .address-card-wrap .address-card .address-card-actions .btn-edit-address:hover {
    color: #f26224;
}

.my-profile {
    padding: 35px 30px 40px;
}

.breadcrumb {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    float: right;
}

.breadcrumb ul {
    margin-left: -11px;
    /* float: right; */
    margin-bottom: 0;
}

.breadcrumb ul>li {
    font-size: 15px;
    line-height: 26px;
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.breadcrumb ul>li>a {
    color: #191919;
}

.breadcrumb ul>li:after {
    position: absolute;
    content: "\F105";
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 12px;
    right: 0px;
    top: 1px;
    color: #191919;
}

.breadcrumb ul>li.active,
.breadcrumb ul>li.active:after {
    color: #a6a6a6;
}

.custom-page-wrap {
    margin-top: 50px;
    margin-bottom: 50px;
}

.custom-page-content p {
    line-height: 23px;
    color: #6e6e6e;
    margin-bottom: 15px;
}

.custom-page-content ol,
.custom-page-content ul {
    padding-left: 16px;
    overflow: hidden;
}

.custom-page-content ol li,
.custom-page-content ul li {
    margin-bottom: 9px;
    color: #6e6e6e;
}
 .custom-page-content ul li {
    list-style: disc;
}
.contact-wrap {
    margin: 40px 0 60px;
}

.contact-wrap .map-canvas {
    position: relative;
    height: 0;
    padding-bottom: 34%;
    overflow: hidden;
    border-radius: 2px;
}

.contact-wrap .map-canvas>iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.contact-form-wrap {
    display: -webkit-box;
    display: flex;
    margin-top: -12%;
    -webkit-box-pack: center;
    justify-content: center;
}

.contact-form-wrap.careers-filed {
    margin-top: 0;
}

.contact-form-wrap .contact-form-inner {
    display: -webkit-box;
    display: flex;
    width: 1000px;
    box-shadow: 0 5px 28.5px 1.5px rgb(9 6 24 / 10%);
    overflow: hidden;
    border-radius: 6px;
}

.contact-form-left {
    position: relative;
    width: 350px;
    min-width: 350px;
    padding: 44px 60px;
    background: #f2621f;
    overflow: hidden;
}

.contact-form-left .title {
    margin-bottom: 48px;
    color: #fff;
}

.list-inline,
.list-unstyled {
    /* padding-left: 0; */
    list-style: none;
}

.contact-form-left .contact-info li {
    color: #fff;
    margin-bottom: 15px;
    white-space: nowrap;
    clear: both;
}

.contact-info>li>i {
    margin-top: 3px;
    color: #fff;
    float: left;
}

.contact-info>li>span {
    line-height: 22px;
    display: block;
    margin-left: 24px;
    word-break: keep-all;
    white-space: initial;
    s color: #fff;
}

.contact-info>li>span a {
    color: #fff;
}

.contact-form-left .social-links {
    margin: 20px 0 0 -8px;
}

.contact-form-left .social-links li a {
    color: #fff;
}

.social-links li {
    display: -webkit-inline-box;
    display: inline-flex;
    margin-right: 5px;
    /* border: 1px solid #fff; */
}

.social-links li a {
    font-size: 22px;
    display: -webkit-box;
    display: flex;
    height: 35px;
    width: 35px;
    color: #6e6e6e;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.contact-form-left>svg {
    position: absolute;
    right: -35px;
    bottom: -45px;
    height: 180px;
    width: 180px;
    opacity: .15;
    -webkit-transform: rotate( -15deg);
    transform: rotate( -15deg);
}

.contact-form-right {
    width: 100%;
    padding: 44px 60px 50px;
    background: #fff;
    overflow: hidden;
    z-index: 1;
}

.contact-form-right .title {
    margin-bottom: 48px;
}

.mfp-ajax-product.mfp-bg,
.login-popup.mfp-bg {
    opacity: 0
}

.mfp-ajax-product .product-single-container {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-wrap .mfp-content {
    transition: all .35s ease-out;
    opacity: 0
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-ajax-product.mfp-wrap .mfp-content {
    max-width: 800px;
    height: 70vh;
    background: #fff;
}

.login-popup.mfp-wrap .mfp-content {
    max-width: 580px
}

.register-popup.mfp-wrap .mfp-content {
    max-width: 580px
}

.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1
}

.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0
}

.product-single-container {
    margin-bottom: 3rem;
}

.product-quick-view {
    background-color: #fff;
    padding: 3rem 3rem 0;
    /* max-height: calc(100vh - 210px); */
    /* overflow-y: auto; */
    height: 75vh;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

@media (max-width: 991px) {
    .mfp-container {
        padding: 2rem
    }
}

@media screen and (max-width: 1700px) {
    .grid-view-products>.col {
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media screen and (max-width: 1600px) {
    .product-image-gallery {
        width: 500px;
    }
    .product-details-info {
        width: calc(100% - 500px);
    }
    .menumain_bordr .navbar {
        width: calc(50% + 100px);
    }
}

@media screen and (max-width: 1350px) {
    .grid-view-products>.col {
        -webkit-box-flex: 0;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .menumain_bordr .navbar {
        width: calc(50% + 100px);
    }
}

@media screen and (max-width: 1291px) {
    .list-product-card-inner .btn-add-to-cart {
        padding: 7px 17px 6px;
    }
    .list-product-card-inner .product-card-right {
        margin: -5px 0 -8px 16px;
    }
    .menumain_bordr .navbar {
        width: calc(50% + 100px);
    }
    .checkout-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .checkout-right {
        width: 100%;
        min-width: 0;
        margin-top: 14px;
        padding-left: 0;
    }
}

@media screen and (max-width: 1191px) {
    .list-product-card {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .menumain_bordr .navbar {
        width: calc(46% + 100px);
    }
    .shopping-cart-table thead {
        display: none;
    }
    .shopping-cart-table tbody td {
        vertical-align: top;
    }
    .shopping-cart-table td>label {
        width: 90px;
        min-width: 90px;
        margin-bottom: 0;
        padding-right: 5px;
        color: #6e6e6e;
        white-space: pre-wrap;
        display: inline-block;
    }
    .shopping-cart-table tbody td:not(:first-child):not(:last-child) {
        display: block;
    }
    .shopping-cart-table .product-price {
        display: -webkit-inline-box;
        display: inline-flex;
    }
    .shopping-cart-table tr {
        border-bottom: 1px solid #ebebeb;
        padding-top: 10px 0px;
    }
    .shopping-cart-table .number-picker {
        display: inline-block;
    }
}

@media screen and (max-width: 1080px) {
    .contact-form-left {
        width: 100%;
        min-width: 0;
        padding: 34px 30px;
    }
    .contact-form-wrap .contact-form-inner {
        width: 90%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .contact-form-left .title {
        margin-bottom: 38px;
    }
    .contact-form-left .contact-info li {
        margin-bottom: 19px;
    }
    .contact-form-right {
        padding: 34px 30px 40px;
    }
}

@media screen and (max-width: 1024px) {
    .menumain_bordr .navbar .navbar-nav {
        margin: 0 0px;
    }
    .menumain_bordr .navigation-text {
        margin-right: 10px;
    }
}

@media screen and (max-width: 991px) {
    .order-details-table thead {
        display: none;
    }
    .order-details-table tbody td:first-child {
        padding: 25px 10px 11px!important;
    }
    .order-details-table tbody td {
        vertical-align: top;
        display: block;
    }
    .order-details-table tr {
        border-bottom: 1px solid #ebebeb;
        padding-top: 10px 0px;
    }
    .order-details-table tr:last-child {
        border-bottom: none;
    }
    .order-details-table td>label {
        width: 100px;
        min-width: 100px;
        margin-bottom: 0;
        padding-right: 5px;
        color: #6e6e6e;
        white-space: pre-wrap;
        display: inline-block;
    }
    .order-details-table .product-price {
        display: -webkit-inline-box;
        display: inline-flex;
    }
    .product-details-info {
        width: 100%;
        margin-top: 34px;
        padding: 0;
    }
    .product-details-top-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .menumain_bordr .navbar {
        width: calc(40% + 100px);
    }
    .shopping-cart {
        -webkit-box-orient: vertical;


        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .order-summary-wrap {
        width: 100%;
        min-width: 0;
        margin-top: 50px;
        padding-left: 0;
    }
    .shopping-cart-inner {
        padding-right: 0;
    }
    .checkout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .account-wrap-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .account-wrap .account-left {
        min-width: 0;
    }
    .account-wrap .account-right {
        margin: 29px 0 30px 0;
    }
    .quick-view-area .product-details-info {
        width: 100%;
        padding: 0 15px 0 30px;
    }
    .quick-view-area .product-image-gallery {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .captcha-input {
        display: block;
        margin: 10px 0 0;
    }
    .product-details-info .details-info-middle-actions {
        display: block;
    }
    .product-image-gallery {
        width: 100%;
    }
    .details-info-top-actions {
        margin-top: 20px;
    }
    .form-wrap-inner {
        width: 100%;
    }
    .product-details-tab>.tabs .nav-link {
        font-size: 13px;
        font-weight: 500;
        padding: 11px 14px;
    }
    .sp-wrap {
        width: 76%;
    }
    .product-details-tab>.tabs .nav-item {
        margin: 0 0 -1px;
    }
    .product2-buttons .product-button {
        width: 38px;
        height: 38px;
    }
    .product2-buttons .product-button i {
        line-height: 38px;
    }
    .grid-view-products>.col {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .list-product-card {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 5px;
        margin-bottom: 10px;
    }
    .list-view-products {
        margin: 0px 0px 0px 0px;
    }
    .list-product-card-inner {
        padding: 10px 10px;
    }
    .list-product-card-inner .btn-add-to-cart {
        padding: 7px 20px 6px;
    }
}

@media only screen and (max-width: 575px) {
    .header-tools>div {
        margin-left: 15px;
    }
}

@media screen and (max-width: 991px) {
    .product-search-left {
        width: 100%;
        min-width: 0;
        margin: 0;
    }
    .product-search-right {
        width: 100%;
        margin-top: 20px;
        padding: 0px 10px;
    }
    .shop-tab-title {
        display: inline-block;
    }
    .toolbox-item .select-custom .form-control {
        max-width: 175px;
        padding-right: 1rem;
        font-size: 0.9rem;
    }
    .shop-tab-select {
        margin: -14px 12px 0px 0px;
    }
    .shop-tab-title h2 {
        margin-bottom: 20px;
    }
    .sidebar-opened .sidebar-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        opacity: .35;
        z-index: 8999;
    }
    .sidebar-toggle {
        display: block;
        position: fixed;
        top: 31%;
        left: 0;
        width: 40px;
        height: 40px;
        transition: left .2s ease-in-out 0s;
        border: #dcdcda solid 1px;
        border-left-width: 0;
        background: #fff;
        font-size: 17px;
        line-height: 38px;
        text-align: center;
        cursor: pointer;
        z-index: 999;
        margin-top: 50px;
    }
    .mobile-sidebar {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 260px;
        padding: 2rem 0.2rem;
        margin: 0px 0px !important;
        transform: translate(-260px);
        transition: transform .2s ease-in-out 0s;
        background-color: #fff;
        z-index: 9999;
        overflow-y: auto;
    }
    .sidebar-opened .mobile-sidebar {
        transform: none;
    }
    .mobile-sidebar .sidebar-shop {
        display: block !important;
    }
    .sidebar-opened .sidebar-toggle {
        left: 260px;
        z-index: 9000;
    }
    .sidebar-opened .sidebar-toggle i:before {
        content: "\f00d";
    }
}

@media (max-width: 767px) {
    .contact-wrap {
        margin: 50px 0;
    }
    .contact-form-wrap {
        margin-top: 30px;
    }
    .ps-form--search-mobile {
        width: 80% !important;
    }
    .lang-ar {
        display: block;
    }
    .header-tools .lang-ar {
        display: none !important;
    }
    .list-product-card-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .list-product-card-inner .product-card-left {
        width: 100%;
        margin-bottom: 20px;
    }
    .list-product-card-inner .product-card-right {
        margin-left: 0;
    }
    .list-product-card-inner .product-card-left .product-image {
        width: 100%;
    }
    .manufacturers-banner {
        margin-top: 30px;
    }
    .header-login.lang-ar {
        float: right;
        padding: 10px;
        font-weight: 600;
        font-family: 'Tajawal', sans-serif;
    }
    .sidebar-menu-icon-wrap,
    .sidebar-menu-icon-wrap .sidebar-menu-icon {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 8px;
        margin-left: 8px;
        margin-right: 3px;
    }
    .service-widget p {
        font-size: 0.7rem;
    }
    .service-widget .service-title {
        font-size: 0.8rem;
    }
    .service-section>div {
        padding: 0px 5px;
    }
    .logo4 img {
        height: 66px;
    }
    .add_to_cart.right {
        width: 300px;
    }
    .modal-dialog {
        width: 100%;
    }
    .mobile-menu-toggler {
        border: 0;
        background: transparent;
        color: #2b2b2b !important;
        padding: 1rem .5rem;
        margin-right: .5rem;
        font-size: 30px;
        line-height: 0;
        cursor: pointer;
        display: inline-block !important;
        position: relative;
    }
    .mobile-menu-toggler i {
        margin-top: 10px;
        font-weight: 700;
    }
    .desk-hide {
        display: block;
    }
    .mobile-hide {
        display: none;
    }
    div#headingOne,
    div#headingTwo,
    div#headingThree,
    div#headingFour {
        background: transparent;
        border: navajowhite;
        margin-bottom: 0px;
    }
    .footer-nav .card-header a {
        color: #f26224;
        display: block;
        /* text-transform: capitalize; */
        font-size: 14px;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
    .footer-nav .card-header {
        line-height: 18px !important;
        padding: 10px 23px !important
    }
    .footer-nav .card-header a:after {
        content: "+";
        position: absolute;
        right: 16px;
        top: 0.5rem;
        transition: transform .25s ease-in-out;
        font-size: 21px;
    }
    .footer-nav__link {
        color: #080808;
        display: block;
        font-size: 13px;
        line-height: 18px;
        padding: .6rem 0;
        transition: color .15s ease-in-out;
        /* font-family: 'Muli', sans-serif; */
        font-weight: 300;
        letter-spacing: 0.3px;
    }
    .footer-nav .card-header {
        line-height: 18px !important;
        padding: 10px 23px !important;
        margin-bottom: 7px;
    }
    .footer-nav .card-header {
        padding-left: 10px !important;
        background-color: #f5f5f5;
    }
    .footer-nav__link {
        padding: .6rem 12px;
    }
    #accordion {
        position: relative;
        margin-bottom: -1px;
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .hot-deal-tab-title li.active::before {
        top: -1px;
    }
}

@media screen and (max-width: 1306px) {
    footer .widget-title {
        font-size: 1rem;
    }
    .category-nav .title-category-dropdown {
        padding: 14px 20px 13px 20px;
        font-size: 13px;
    }
}

@media screen and (max-width: 1199px) {
    .header-search-wrap {
        padding: 0px 17px;
    }
    .register-box {
        padding-right: 10px;
    }
    .register-box>ul {
        margin: 10px 0px;
    }
    .register-box a {
        font-size: 12px;
    }
    .register-box>p {
        font-size: 11px;
        display: none;
    }
    .logo4 img {
        height: 82px;
    }
    .header-column-right {
        height: 60px;
        padding: 0px 0px;
    }
    footer .widget-title {
        font-size: 1rem;
    }
    .category-nav .title-category-dropdown {
        padding: 14px 20px 13px 20px;
        font-size: 13px;
    }
}


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .desk-hide {
        display: block;
    }
    .hot-deal-tab-title li.active::before {
        top: -2px;
    }
    .mobile-hide {
        display: none;
    }
    .header-nav2 {
        display: none;
    }
    .sidebar-menu-icon-wrap,
    .sidebar-menu-icon-wrap .sidebar-menu-icon {
        display: -webkit-box;
        display: inline-flex;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 8px;
        margin-right: 8px;
    }
    .ps-search--mobile {
        padding: 5px 1px 0px;
    }
    .logo4 {
        text-align: center;
        height: 75px;
        width: 142px;
        margin: 0 auto;
        display: inline-block;
    }
    .ps-form--search-mobile {
        width: 100%;
        margin-bottom: 0px;
    }
    .tab-visibile {
        display: block !important;
    }
    .tab-hide {
        display: none !important;
    }
    .item-adv-simple.adv-home6 {
        margin-bottom: 7px;
    }
    .hot-deal-tab-slider.hot-deal-tab-slider12 {
        margin-top: 30px !important;
    }
    .header4 {
        padding: 5px 0;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .desk-hide {
        display: block;
    }
    .hot-deal-tab-title li.active::before {
        top: -2px;
    }
    .mobile-hide {
        display: none;
    }
    .header-nav2 {
        display: none;
    }
    .sidebar-menu-icon-wrap,
    .sidebar-menu-icon-wrap .sidebar-menu-icon {
        display: -webkit-box;
        display: inline-flex;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 8px;
        margin-right: 8px;
    }
    .ps-search--mobile {
        padding: 5px 1px 0px;
    }
    .logo4 {
        text-align: center;
        height: 75px;
        width: 142px;
        margin: 0 auto;
        display: inline-block;
    }
    .ps-form--search-mobile {
        width: 100%;
        margin-bottom: 0px;
    }
    .tab-visibile {
        display: block !important;
    }
    .tab-hide {
        display: none !important;
    }
    .item-adv-simple.adv-home6 {
        margin-bottom: 7px;
    }
    .hot-deal-tab-slider.hot-deal-tab-slider12 {
        margin-top: 30px !important;
    }
    .header4 {
        padding: 5px 0;
    }
}