.banner-group [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    margin-bottom: 0px;
}

.banners {
    display: block;
    position: relative;
    margin-bottom: 0.7rem;
	overflow: hidden;
}

.banner-overlay>a {
    position: relative;
}

.banners>a {
    position: relative;
    display: block;
    outline: none !important;
}


.banners img {
    display: block;
    max-width: none;
    width: 100% !important;
    object-fit: contain;
	    height: auto;
}

.banner-overlay>a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51,51,51,0.25);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.banner-large .banner-content {
    left: 1.6rem;
}


.banner-content.banner-content-top {
    top: 3.6rem;
}

.banner-content.banner-content-top {
    top: 1.6rem;
    transform: translateY(0);
    -ms-transform: translateY(0);
}


.banner-content {
    display: inline-block;
    position: absolute;
    padding-top: .4rem;
    left: 2rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}


.banner-subtitle {
    color: #000000;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: -.01em;
    margin-bottom: .5rem;
    /* text-shadow: -1px 2px 2px #151515; */
}

.banner-title {
    color: #000;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -.025em;
    margin-bottom: 5px;
    line-height: 38px;
    text-shadow: 1px 1px 1px #ececec;
}


.banner-text {
   color: #ffffff !important;
   font-weight: 600;
   font-size: 1.4rem;
   line-height: 1.25;
   letter-spacing: -.01em;
   margin-bottom: .5rem;
   text-shadow: -1px 2px 2px #151515;
}


.btn.banner-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: capitalize;
}

.btn.banner-link {
    font-size: 1rem;
    line-height: 1;
    padding: .8rem 1.4rem;
    min-width: 0;
    text-transform: uppercase;
    text-decoration: none !important;
    text-shadow: -1px 1px 1px #151515;
    background: #000;
	margin-top: 15px;
}
.btn.banner-link:hover{
	color: #fff;
	background: #333;
}
.lazy-load-image-background.lazy-load-image-loaded {
    display: inline !important;
    z-index: 2;
}


.banner-content.banner-content-bottom {
    bottom: 4rem;
}


.banner-content.banner-content-bottom {
    top: auto;
    bottom: 60px;
    transform: translateY(0);
    -ms-transform: translateY(0);
}


.banner-content {
    left: 1.6rem;
}

.lazy-load-image-background img {
    width: 100%;
}

.btn-outline-gray {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
    box-shadow: none;
	text-shadow: -1px 1px 1px #151515;
}

.btn-outline-white {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none;
}

.pt-15{ padding-top: 40px;}

@media screen and (max-width: 767px){

.banners.banner-1 img, .banners.banner-2 img, .banners img {
    /* height: 18rem; */
    object-fit: cover;
    width: 100% !important;
}
.banner-large .banner-content {
    left: 1rem;
}
.banner-content.banner-content-top {
    top: 1rem;
    transform: translateY(0);
    -ms-transform: translateY(0);
}
.banner-content {
    left: 1rem;
}
.banner-title {
    color: #000;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: -.025em;
    margin-bottom: 5px;
    line-height: 25px;
    text-shadow: 1px 1px 1px #ececec;
}	
}



	
	
	
	